@use "functions" as *;
@use "variables" as *;

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  background-color: #a0c4ff;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  margin: auto;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

header {
  h1 {
    text-align: center;
    margin-bottom: 10vh;
    color: white;
  }
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  gap: 5vw;
}

.controls {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: auto;
  gap: 5vh;
}

.grid {
  display: grid;
  width: 40vw;
  height: 100%;
  margin: auto;
  background-color: white;
  border-radius: rem(5);
  box-shadow: 0 0 0 0 white;
}

.color-palette {
  display: flex;

  #color-picker-label {
    width: rem(80);
    height: rem(80);
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  #color-picker {
    width: 0%;
    height: 0%;
    visibility: hidden;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;

  #slider {
    -webkit-appearance: none;
    border-radius: rem(25);
    height: rem(10);
    width: 100%;
    margin: 0 auto rem(10);

    &:hover {
      cursor: pointer;
    }
  }

  #slider-label {
    color: white;
    font-size: rem(18);
    font-weight: 700;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: rem(22);
  height: rem(22);
  border-radius: rem(25);
  background-color: #8e94f2;
}

button {
  font-family: var(--font-poppins);
  background-color: inherit;
  border: rem(2) solid white;
  border-radius: rem(5);
  color: white;
  font-size: rem(18);
  font-weight: 700;
  padding: rem(7) rem(30);

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 200ms ease;
  }
}
